
body {
    font-family: "Gayathri-Thin", arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

@font-face {
    font-family: 'Gayathri-Thin';
    src: url('https://github.com/mialynnshae/mialynnshae.github.io/blob/main/CSS/Gayathri-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ADD8E6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.8;
}

img {
    width: 20%; 
    border-radius: 10px; 
    opacity: 0.8; 
}
