
body {
    background-color: #f0f0f0; 
}

img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
    filter: grayscale(50%);
}

h1 {
    color: #336699; 
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

p {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    color: #cc3300; 
}
