
body {
    font-family: "Gayathri-Thin", arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 30px;
}

@font-face {
    font-family: 'Gayathri-Thin';
    src: url('path/to/https://github.com/mialynnshae/mialynnshae.github.io/blob/main/resume/Gayathri-Thin.ttf) format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

        nav {
            background-color: #333; 
            color: white; 
            padding: 10px; 
            text-align: center; 
        }

        nav h1 {
            margin: 0; 
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            margin: 0; 
            padding: 0; 
            text-align: center; 
        }

        nav ul li {
            display: inline; 
            margin-right: 20px;
            text-align: center;
        }

        nav ul li a {
            color: white; 
            text-decoration: none; 
            text-align: center;
        }

        section {
            margin: 20px auto; 
            text-align: center; 
        }

        section h2 {
            color: #333; 
            text-align: center;
        }

        section ul {
            list-style-type: none; 
            padding: 0;
            text-align: center; 
        }

        section ul li {
            margin-bottom: 10px; 
            text-align: center;
        }

        section ul li span.date {
            color: #888;
            text-align: center;
        }

        img {
            display: block; 
            margin: 0 auto; 
            border-radius: 5px;
            max-width: 100%;
            height: auto;
            width: 170px; 
            height: 200px; 
        }

        p {
            margin: 10px 0; 
            line-height: 1.5;
            text-align: center; 
        }
